
.main-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  height: 100vh;
  width: 100vw;
  background-color: transparent;
}

.alumnos-info-card, .alumnos-carga-card {
  width: 30%;
  height: 70%;
  padding: 10px;
  mat-card-actions{
    margin: -10px 10px 0 0;
  }
}

.alumnos-info-card {
  width: auto;
  height: 70%; // Asegúrate de que tenga una altura fija o máxima
  overflow-y: auto; // Permite el desplazamiento vertical si el contenido es demasiado alto
  padding: 10px;
}

// change mat-form-field height
::ng-deep .mat-mdc-text-field-wrapper {
  height: 35px !important;
}

// Change Bydefault Label Font Position
::ng-deep .mat-mdc-text-field-wrapper .mat-mdc-form-field-flex .mat-mdc-floating-label {
  top: 16px !important;
}

// change input inside placeholder & value position
::ng-deep .mat-mdc-input-element {
  top: -10px !important;
  position: relative !important;
}

.example-form {
  min-width: 100px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.row-input{
  width: 45%;
}

table {
  width: 100%;
}


