.container {
  height: 10%;
  width: 100vw;
}

.main-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-color: transparent;
}

.info-card {
  width: 50%;
  padding: 10px;
  mat-card-actions{
    margin-right: 20px;
  }
}



