mat-toolbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 30px;
    position: fixed;
    z-index: 1000;
    background-color: #004f4f;
    color: #0dd;
    height: 10%;
}

.title {
  margin: 0;
}
